---
import Layout from "layouts/primary.astro"
---
<Layout>
    <h1>Hi there!</h1>
    <em>My name is Logic. I'm what you may call... a logical developer.</em>
    <br />
    <pre><code>My goal is to make the world a better place, one line of code at a time.</code></pre>
    <address>
        <a href="mailto:logicallylogi@skiff.com">logicallylogi@skiff.com</a>
        <br />
        <a href="https://matrix.to/#/@logi:ixvd.net">@logi:ixvd.net</a>
    </address>
</Layout>