---
import Layout from "layouts/primary.astro"
---
<Layout>
    <h1>Welcome to ~LogicallyLogi~</h1>
    <p>I am a software engineer located it &lt;REDACTED&gt; and I write web apps that most people wouldn't use!</p>
    <p>There is more information on my <a href="/about">about me page</a> - but I needed to fill this page a little! In
        the future, I
        may throw a featured blog post or something here! For now, it shall remain &lt;BLANK&gt;</p>
</Layout>